* {
    box-sizing: 0;
    border: 0;
    padding-inline-start: 0px;
}
ul, li {
    list-style-type: none;
}

label {
    display: block;
}
.rows {
    border-bottom: 0.5px solid #ccc;
    border-top: 20px;
    padding: 5px;
}

.text1, .text2 {
    padding: 5px;
}

#list, #list1 {
    width: 200px;
    border: 1px solid;
}

.character {
    border: 1px solid #ccc;
}

.dolar {
    padding: 2px;
}

.box {
    border: 1px solid #ccc;
    width: 70px;
}

.box-2 {
    border: 1px solid #ccc;
    width: 30px;
}

.text3 {
    margin-left: 12px;
    display: flex;
    max-width: 126px;
    justify-content: space-between;
}

.box3 {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
}

.table1 {
    width: 100%;
    height: 150px;
}

tr,th ,td{
    border: 1px solid #ccc;
}